.background {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 7rem;
}

.container {
  justify-content: center;
  background-color: rgba(117, 80, 54, 0.445);
  height: 25rem;
  width: 27rem;
  padding-top: 7rem;
  margin-bottom: 16rem;
  border: 1px solid black;
}
.tittle {
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
  letter-spacing: 1px;
}
.loginButton {
  /* border-radius: 0.8rem; */
  /* border: 0.1em solid black; */
  padding: 0.7rem;
  min-width: 5em;
  cursor: pointer;
  /* border: 1px solid rgb(1, 1, 1); */
  font-size: 13px;
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  background-color: rgba(17, 17, 16, 0.575);
}
.loginButton:hover {
  transform: scale(1.05); /* Cambia el tamaño al pasar el mouse (opcional) */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
