.background {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(../../imagenes/backLanding.jpg);
  height: 100vh;
}

.container {
display: flex;
flex-direction: column; /* Alinear contenido verticalmente */
align-items: center;
  width: 27rem;
}
.container img {
  width: 60%;
  margin: 0;
}
.container .boton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}


