.nav {
  display: flex;
  justify-content: right !important;
}
.button {
  font-size: 13.6px !important;
  padding: 7px;
  margin-right: 1.3rem;
}
.container {
  justify-content: center;
}
.buttonLogin {
  font-size: 13.6px !important;
  padding: 7px;
  margin-right: 0.5rem;
}

.userInfo img {
  border-radius: 50%;
  width: 47px;
  height: 47px;
  object-fit: cover;
  margin-right: 8px;
}

/* Estilo para el nombre del usuario */
.userInfo .userName {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  letter-spacing: 1px;
}

/* Estilo para el botón "Log Out" */
.userInfo button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.linkUser {
  text-decoration: none;
  margin-right: 7px;
}
