.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  padding: 2em;
  width: 30vh; /* Ancho inicial del Navbar vertical */
  height: 100vh;
  border-right: #000000 0.2em solid;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 100%; /* Ocupará todo el ancho en pantallas pequeñas */
    height: 15vh;
    border-bottom: #000000 0.2em solid;
    border-right: #000000 0em solid;
  }
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
