.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Cambia a 'space-between' para distribuir las tarjetas en filas */
}

.aboutCard {
  width: calc(33.33% - 10px); /* Para que haya 3 tarjetas por fila con un espacio de 10px entre ellas */
  margin-right: 10px; /* Espacio entre las tarjetas */
  margin-bottom: 10px; /* Espacio entre las filas */
}
