body {
  margin: 0;
  font-family: satoshi;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: satoshi;
  src: url(Satoshi-Variable.ttf);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active > .page-link,
.page-link.active {
  background-color: black !important;
  border: 1px solid black;
}
.page-link {
  color: black;
}
.page-link:focus {
  box-shadow: none;
  border: 1px solid black;
}
