.cntnFooter {
  margin: 0;
  height: 20vh;
  background-color: black;
  display: flex;
  flex-direction: column; /* Cambiamos a dirección de columna */
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido en cntnFooter */
  color: #ae9c8f;
  margin-top: 22px;
}

.brandMr {
  font-family: "the seasons";
  font-size: 3em;
  margin-top:0.5em; /* Ajusta el margen superior según tus necesidades */
  text-align: center;
  letter-spacing: 2px;
}

.divCopy {
  text-align: center; /* Centra el contenido de .divCopy horizontalmente */
  font-size: 15px;
  color: #ae9c8f;
  margin-bottom: 3em;
}

.pCopy {
  color: white;
}
