/* Profile.module.css */

.profileContainer {
  /* margin-top: 10px;
    margin-left: 50px;
    margin-right: 0px;
    width: 3500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileCard {
  margin-left: -10px !important;
  width: 280px !important;
  height: 400px !important;
  margin-top: 25px !important;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra ancha de color marrón */
}

.profileImage {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  display: block;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Agrega una sombra alrededor de la imagen */
}
.profileCard .profileName {
  color: white;
}
.subtitle {
  display: flex;
  justify-content: centstarter !important;
  align-items: start !important;
  text-align: start !important;
  margin-top: 4px !important;
  width: 320px;
}
.strong {
  text-align: left;
  margin-right: 5px;
}
.profileName {
  background-color: rgba(104, 0, 0, 0.671);
  padding: 10px;
  margin-top: 10px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra ancha de color marrón */
}

.userInfoCard {
  width: 310px !important;
  height: 150px !important;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra ancha de color marrón */
  margin-left: -75px !important;
  margin-top: 135px !important;
}

.userInfoTitle {
  background-color: rgba(104, 0, 0, 0.671); /* Azul Bootstrap */
  height: 25px;
  justify-content: center;
  align-items: center;
}

.userInfoCard .userInfoTitle {
  color: white;
  justify-content: center;
  align-items: center;
}

.text-muted strong {
  margin-right: 5px;
}

.botonAdmin {
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición para el cambio suave de color */
}
/* Añade más estilos según sea necesario */
