/* Profile.module.css */

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.profileCard {
  margin-left: -10px !important;
  width: 280px !important;
  height: 400px !important;
  margin-top: 25px !important;
  box-shadow: 8px 0px 10px rgba(148, 133, 122, 0.8);
}

.profileImage {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  display: block;
}
.profileCard .profileName {
  color: white;
}
.subtitle {
  display: flex;
  justify-content: start !important;
  align-items: start !important;
  text-align: start !important;
  margin-top: 4px !important;
  max-width: 200px !important;
  text-decoration: none;
}
.strong {
  text-align: left;
  margin-right: 5px;
  max-width: 200px !important;
}
.profileName {
  background-color: black;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;

  box-shadow: 8px 0px 10px rgba(148, 133, 122, 0.8);
}

.userInfoCard {
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
  width: 360px !important;
  height: 225px !important;
  box-shadow: 8px 0px 10px rgba(148, 133, 122, 0.8);
  margin-left: -89px !important;
  margin-top: 135px !important;
}

.userInfoTitle {
  background-color: black /* Azul Bootstrap */;
  /* height: 25px; */
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px;
}

.userInfoCard .userInfoTitle {
  color: white;
  justify-content: center;
  align-items: center;
}

.text-muted strong {
  margin-right: 5px;
}

.botonAdmin {
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: black;
  margin-top: 28px;
  font-size: 12px;
}
.link {
  text-decoration: none !important;
}
