.navBar {
  background-color: rgba(117, 80, 54, 0.723);
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  /* padding: 1.5em; */
}

.divLinks {
  display: flex;
  width: 750px;
  align-content: start;
  align-items: start;
  justify-content: center;
  height: 4rem;

  justify-content: center;
  align-items: center;
}
.divLinksResponsive {
  display: flex;
  flex-direction: column;
}
.links {
  text-decoration: none;
  padding-right: 2em;
  color: black;
}
.links:hover {
  color: aliceblue; /* Cambia el color al pasar el mouse (puedes ajustar el color) */
  border-radius: 2em;
  transform: scale(1.02); /* Cambia el tamaño al pasar el mouse */
}
.logo {
  display: flex;
  height: 20px;
  width: 100px;
  object-fit: fill;
  margin-right: 80px;
}
.active {
  margin-top: 8px;
  padding: 4px;
}
.linkResponsive {
  font-size: 12px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  padding: 2px;
  margin: 0px;
  text-decoration: none;
  color: black;
  flex-direction: column;
}
.linkResponsive:hover {
  cursor: pointer;
  font-weight: 0;
  transform: scale(0);
}
.buttonResponsive {
  /* color: black; */
  height: 35px !important;
  font-size: 14px !important;
  border-radius: 3.5px;
  padding: 6px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.452);
}
.searchBar {
  display: flex;
}
.searchBarResponsive {
  display: none;
}
@media (max-width: 768px) {
}
