.navBar {
  background-color: #ae9c8f;
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  max-height: 90px;
}
.navOne {
  padding: 10px !important;
  background-color: #ae9c8f !important;
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  border-bottom: 1px solid black;
}
.divLinks {
  display: flex;
  width: 450px;
  margin-left: 4rem;
  align-content: left;
  align-items: left;
  height: 4rem;
  /* justify-content: center; */
  align-items: center;
}
.divLinksResponsive {
  display: flex;
  flex-direction: column;
}
.links {
  text-decoration: none;
  padding-right: 1.9em;
  color: black;
}
.linkCart {
  text-decoration: none;
  padding-right: 0.5em;
  color: black;
}
.links:hover {
  color: aliceblue; /* Cambia el color al pasar el mouse (puedes ajustar el color) */
  border-radius: 2em;
}
.logo {
  display: flex;
  height: 20px;
  width: 70px;
  object-fit: fill;
  margin-right: 110px;
}
.active {
  margin-top: 8px;
  padding: 4px;
}
.linkResponsive {
  font-size: 12px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  padding: 2px;
  margin: 0px;
  text-decoration: none;
  color: black;
  flex-direction: column;
}
.linkResponsive:hover {
  cursor: pointer;
  font-weight: 0;
}
.buttonResponsive {
  /* color: black; */
  height: 35px !important;
  font-size: 14px !important;
  border-radius: 3.5px;
  padding: 6px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.452);
}
.searchBar {
  display: flex;
}
.searchBarResponsive {
  display: none;
}
.imgLogo {
  width: 120px;
  margin-left: 0.1rem;
}
.imgLogoResponsive {
  width: 75px;
}
.linkCart{
  margin: 0.5em;
}
.shoppingCart{
 width: 2em;
}

.cartItemCount{
  margin-left: 0.2em;
  color: aliceblue;
  background-color: #de1f1fcf;
  border: 0.1em solid black;
  font-size: 0.65em;
  text-align: center;
  border-radius: 50%; 
  display: inline-block; /* Para asegurarse de que el ancho y alto sean consistentes */
  width: 1.5em; /* Ajusta el ancho deseado */
  height: 1.5em; /* Ajusta el alto deseado */

}
@media (max-width: 768px) {
}
