.cntnDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.6rem;
}

.cntnCardDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 26rem;
  /* border: 1px solid black; */
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ae9c8f;
}
.p {
  text-align: left;
  font-size: 16px;
}
.cntnP {
  padding-left: 6.5rem;
  justify-content: center;
  align-items: center;
}
.goBackLink {
  position: relative;
  right: 20rem;
  /* top: 3rem; */
}
