.cntnDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-start; */
  padding-top: 2.6rem;
}

.cntnCardDetail {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 48%;
  border: 0.1em solid #36343479;
  /* padding: 0.6rem; */
  background-color: #ffffff;
  text-align: center;
  box-shadow: 8px 0px 10px rgba(148, 133, 122, 0.8);
  padding-bottom: 25px;
}
.p {
  display: flex;
  align-items: start;
  margin: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  padding-bottom: 9px;
  padding-top: 9px;

  /* border: 1px solid black; */
}
.p2 {
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  width: 190px;
  max-width: 200px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.description {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 190px;
  max-width: 200px;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.623);
  /* margin-top: 2px; */
}
.price {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 190px;
  max-width: 200px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  background-color: #88641b00;
  border-radius: 1em;
  display: inline-block;
}
.imgDetail {
  /* Establece un ancho fijo para todas las imágenes */
  height: 98%; /* Establece una altura fija para todas las imágenes */
  max-height: 500px;
  border-bottom: 0.1em solid rgba(148, 133, 122, 0.8);
  border-right: 0.1em solid rgba(148, 133, 122, 0.8);

  width: 25rem;
}
.imgContainer p {
  font-weight: bold;
}
.texto {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 2em;
  align-items: left;
}

.goBackLink {
  position: absolute;
  left: 140px;
  top: 230px;
}

.counterValue {
  color: black;
  padding: 2px 13px 2px 13px;
  font-size: 12px;
  font-weight: 500;
  /* margin: 1rem; */
  justify-content: center;
  align-items: center;
  /* height: 1.9rem; */
}
.ImgandData {
  display: flex;
  flex-direction: row;
}
.counterContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  /* height: 2.6rem; */
  /* width: 12rem; */
  margin-top: 65px;
}
.buttonCount {
  color: white;
  padding: 2px 13px 2px 13px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  /* margin: 1rem; */
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 187px;
}
.buttonCount:hover {
  background-color: #b1ada2a9;
  /* font-weight: 600;; */
  border: none;
  color: black;
  margin: 0px;
}
