.cntnForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
}
.formConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 26rem;
  border: 1px solid black;
  padding: 3rem;
  background-color: white;
  box-shadow: 8px 0px 10px rgba(148, 133, 122, 0.8);
}
.formGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px solid rgba(148, 133, 122, 0.8) !important;
}
.editContainer {
  margin: 0.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}
.editContainerImg {
  margin: 0.2em;
  height: 8rem !important;
}
.editContainer .input {
  height: 0.2rem !important;
  width: 100px !important; /* Ancho fijo para los inputs */
}
.input:focus {
  border: 2px solid #ae9c8f !important;
  box-shadow: none !important;
}
.labelImgEdit {
  display: none;
}
.divinputErrorType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-left: 1rem;
  margin-left: 2rem !important; */
  margin-top: 0.7rem;
  padding: 2px;
}
.divinputError {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-left: 1rem;
  margin-left: 2rem !important; */
  padding: 2px;
}
.error {
  font-size: 0.7rem !important;
  justify-content: center;
  align-items: center;
  color: red !important;
  max-width: 12rem;
}
.img {
  width: 250px;
  height: 150px;
}
.tittle {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 1.2rem;
}
.label {
  font-size: 1.1rem !important;
  font-weight: 400;
  width: 150px; /* Ancho fijo para los labels */
  text-align: start;
  margin-right: 5px;
}
.labelEdit {
  display: none;
}
.labelImg {
  width: 140px; /* Ancho fijo para los labels */
  text-align: start;
  margin-right: 2px;
  font-size: 1.1rem !important;
  font-weight: 400;
}
.button {
  justify-content: center;
  margin: 1rem;
}
.buttonReset {
  justify-content: center;
  font-size: 0.1rem;
}
.select {
  height: 1.9rem !important;
  width: 254px !important; /* Ancho fijo para los inputs */
  margin: 1px !important;
}
.select:focus {
  border-color: #ae9c8f !important;
  box-shadow: none !important;
}
.divSelectImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.tittleSelectImage {
  font-weight: 500;
  /* margin: 0.6rem; */
}
.inputSelectImage {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.botonReset {
  color: white;
  padding: 2px 13px 2px 13px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 500;
  margin: 1rem;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.botonReset:hover {
  background-color: white !important;
  border: 1px solid black;
  color: black;
}
.botonSubmit {
  color: white;
  padding: 8px 25px 8px 25px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 500;
  margin: 1rem;
  background-color: rgb(0, 0, 0);
}
.botonSubmit:hover {
  background-color: white !important;
  /* border: 1px solid black; */
  color: black;
}
.botonSubmitOff {
  background-color: black;
  color: white;
  padding: 8px 25px 8px 25px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 500;
  margin: 1rem;
}
.botonSubmitOff:hover {
  background-color: white !important;
  /* border: 1px solid black; */
  color: black;
}
.imageForm {
  max-width: 320px;
}

.edit {
  display: flex;
  flex-direction: row;
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  top: 9.3em;
  right: 25.6em;
}
.edit:hover {
  background-color: #ffffffa9; /* Cambia el color al pasar el mouse (puedes ajustar el color) */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.778);
}
.conteinerImg {
  height: 200px;
}
