.nameCard {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  background-color: rgba(19, 18, 18, 0.873);
  position: absolute;
  bottom: 140px;
  left: 44px;
  padding: 3px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  max-width: 14vw;
  letter-spacing: 1px;
  justify-content: center;
}
.imgCard {
  height: 15rem;
  width: 15rem;
  margin-bottom: 4px;
}
.container {
  height: 20.3rem;
  justify-content: center;
  align-items: center;
}
.nameLink {
  text-decoration: none;
}
.divProps {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.description {
  color: black;
  font-weight: 300;
  margin-bottom: 8px;
  font-size: 14px;
  height: 1.5rem;
}
.price {
  text-decoration: none;
  color: black;
  font-weight: 500;
  height: 10px;
  margin-bottom: 18px;
  font-size: 17px;
  letter-spacing: 1px;
}
.counterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
}
.buttonCount {
  color: white;
  padding: 2px 13px 2px 13px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 500;
  margin: 1rem;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.buttonCount:hover {
  background-color: #b1ada2a9;
  font-weight: 600;
  border: none;
  color: black;
}

.counterValue {
  font-size: 12px;
  font-weight: 500;
}
