.p {
  color: black;
  padding: 18px 18px 18px 18px;
  border: 2px solid black;
  margin-top: 3rem;
  /* background-color: black; */
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* height: 1.9rem; */
}
.link {
  text-decoration: none;
  color: black;
}
