.cntnCart {
  display: flex;
  /* padding-top: 0.1rem; */
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.cntnCard {
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  width: 70%;
  margin: 3px;
  padding: 10px;
}

.p {
  color: black;
  padding: 18px 18px 18px 18px;
  margin-top: 1.3rem;
  /* background-color: black; */
  justify-content: start;
  align-items: start;
  font-size: 19px;
  /* height: 1.9rem; */
  width: 24rem;
  font-weight: 600;
}
.link {
  text-decoration: none;
  color: black;
}
