.cntnCart {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cntnCard {
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  width: 50%;
  margin: 6px;
}

.p {
  color: black;
  padding: 18px 18px 18px 18px;
  border: 1px solid black;
  margin-top: 3rem;
  /* background-color: black; */
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* height: 1.9rem; */
  width: 27rem;
}
.link {
  text-decoration: none;
  color: black;
}
