.container {
  margin: 0em;
  padding: 0em;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center; /* Centra verticalmente */
  background-color: #ffffff;
}

.formContainer {
  margin-left: 500px;
  margin-top: 20px;
  padding: 20px;
  background-color: #ae9c8f;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 35px 60px -15px #070707;
}

.title {
  font-size: 1.9rem;
  color: black;
  margin-top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  margin-top: 2rem;
}

.data input {
  width: 80%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.label {
  margin-top: 4px;
  color: black;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin: auto;
  margin-top: 2rem;
}

.button {
  width: 85%;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}

.text {
  color: rgb(0, 0, 0);
  margin-top: 6px;
  text-align: left;
}

.errorText {
  font-size: 1rem !important;
  justify-content: left;
  align-items: center;
  color: red !important;
}

.headerModal {
  background-color: #ae9c8f;
  font-size: 20px;
  letter-spacing: 1px !important;
  padding: 13px;
  border: none !important;
}
.footerModal {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.buttonModal {
  color: white;
  padding: 2px 13px 2px 13px;
  border: 2px solid black;
  font-size: 12px !important;
  font-weight: 500;
  margin: 1rem;
  background-color: black !important;
  justify-content: center;
  align-items: center;
  border-radius: 0px !important;
  border: none !important;
}
.buttonModal:focus {
  box-shadow: none !important;
}
