.divSerchBar {
  margin-right: 1.3rem;
  width: 26rem;
}
.inputSearch {
  font-size: 14px;
  
}
.inputSearch:focus {
  border-color: #000 !important;
  box-shadow: none !important;
}
.links {
  text-decoration: none;
  color: black;
  margin-left: 0.6rem !important;
}
