.divSerchBar {
  margin-right: 1.2rem;
}
.inputSearch {
  border-radius: 0.8rem;
  margin-right: 1em;
  border: 0.1em solid black;
  padding: 1em 0.1em;
  height: 2em;
  font-size: 12px;
  justify-content: center;
  width: 16rem;
}
.addButton {
  border-radius: 0.8rem;
  border: 0.1em solid black;
  padding: 0.3em 0.1em;
  min-width: 5em;
  cursor: pointer;
  border: 1px solid rgb(1, 1, 1);
  font-size: 13px;
}
.addButton:hover {
  transform: scale(1.05); /* Cambia el tamaño al pasar el mouse (opcional) */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
