
  .card {
  
    border: 0.1em solid #363434;
    margin:0.5em 2.5em;
    width: 85%;
    height: 23em;
    box-sizing: border-box;
    border-radius: 8px; /* Agrega redondez a los elementos */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    padding: 2em;
    box-shadow: 0.2em 0.2em 0.1em #36343469;

  }
  
  .card:hover {
    background-color: #cdcdcd; /* Cambia el color al pasar el mouse (puedes ajustar el color) */
    transform: scale(1.02); /* Cambia el tamaño al pasar el mouse (opcional) */
    box-shadow: 0 0 1em #363434;
  }
  
  .imagen {
    margin: 1em;
    width: 10em;
    border-radius: 5em;
    border: 0.1em solid black;
  }

  .titulo {
    letter-spacing: 1px;
    justify-content: center;
    overflow: hidden; /* Ocultar el texto que desborda */
    white-space: nowrap; /* Evitar el salto de línea */
    text-overflow: ellipsis; /* Agregar puntos suspensivos */
    align-items: start;
    justify-content: start;
    font-size: 1.3em;
    font-weight: 700;
  }

  .subTitulo {
    letter-spacing: 1px;
    justify-content: center;
    overflow: hidden; /* Ocultar el texto que desborda */
    white-space: nowrap; /* Evitar el salto de línea */
    text-overflow: ellipsis; /* Agregar puntos suspensivos */
    align-items: start;
    justify-content: start;
    font-size: 1.1em;
 
  }